body
{
  color: rgb(255, 255, 255);
  background-image:linear-gradient(to top right,rgb(1, 5, 84),rgb(0, 61, 118),rgb(52, 16, 124),rgb(27, 5, 106),rgb(5, 19, 146) );
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(0, 255, 38);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgba(255, 235, 182, 0);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

#devanshi{
  font-size: 30px;
}

#itzy
{
  font-size: 30px;
}

#api
{
  font-size: 30px;
}